<div class="card" (click)="flip()" (mouseleave)="flipToHide()" [@cardFlip]="mycard.state">
    <div class="face back">
        <h2 class="skillCategory">{{skillCategory}}</h2>
    </div>
    <div class="face front">
        <div class='logos' *ngIf="skillCategory != 'Experimentation\nAutomation'">
            <div *ngFor="let set of imageSets">
                <app-logo-caption [imageDir] = set.imageDir [caption] = set.caption></app-logo-caption>
            </div>
        </div>
        <div class='desc' *ngIf="skillCategory == 'Experimentation\nAutomation'">
            <h4>Automated Liquid Handlers: </h4>
            <p>&emsp;OpenTrons, CyBio FeliX</p>
            <h4>Automated Fluorescence Microscope: </h4>
            <p>&emsp;Cx7</p>
            <h4>Automated qPCR Machine: </h4>
            <p>&emsp;QuantStudio 8</p>
        </div>
    </div>
</div>
