:host {
    display: block;
    perspective: 600px;
}

.card {
    box-shadow: 10px 10px 43px -18px rgb(45, 71, 98);
    display: block;
    border-radius: 5%;
    height: 350px;
    width: 92%;
    cursor: pointer;
    position: relative;
    transform-style: preserve-3d;
}

.skillCategory{
    color:rgb(45, 71, 98);
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}
.face {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.back {
    background-color: rgb(198, 214, 175);
}

.back:hover{
    background-color: rgb(242, 222, 219);
}

.front {
    transform: rotateY(180deg);
    background-color: rgb(242, 222, 219);
}

.logos{
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    height: 300px;
    padding: 25px;
}
.desc{
    vertical-align: middle;
    height: 350px;
}
h4 {
    color:rgb(45, 71, 98);
    margin: 20px;
    font-size: clamp(10px, 2vw, 18px) !important;
}
p {
    color:rgb(45, 71, 98);
    margin: 20px;
    font-size: clamp(5px, 1.5vw, 17px) !important;
}
.rotate-icon {
    height:1.5vw; 
    padding:1.5vw; 
    fill:rgb(45, 71, 98)
}
