<div class="contact">
    <h2>Contact Me</h2>
    <div style="margin-bottom: 3vw;">
        <fa-icon [icon]="faLinkedin" style="color:rgb(198, 214, 175); margin-left: 2vw"></fa-icon>
        <a href="https://www.linkedin.com/in/yiqing-melody-wang/"  class="link">LinkedIn</a>
        <fa-icon [icon]="faEnvelope" style="color:rgb(198, 214, 175); margin-left: 2vw"></fa-icon>
        <a style="color:rgb(198, 214, 175)">yiqingwa@andrew.cmu.edu</a>
        <fa-icon [icon]="faPhone" style="color:rgb(198, 214, 175); margin-left: 2vw"></fa-icon>
        <a style="color:rgb(198, 214, 175)">443-651-9084</a>
    </div>
    <p class="mess">Please feel free to contact me with any of the methods above. I look forward to connecting with you!</p>
    <p class="mess">Thank you for visiting my site!</p>
</div>
