<div class="pub">
    <ul class="text">
        <h2 class="title">Publications</h2>
        <li>
            <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC9266552/">Long-Term Changes in Axon Calibers after Injury: Observations on the Mouse Corticospinal Tract</a>
            <p class="desc">Personal contribution: data and image analysis of the electron microscopy images; discovery of the leftward shift in axon diameter distribution.</p>
        </li>
        <li>
            <a href="https://www.sciencedirect.com/science/article/pii/S0969996122002005?via%3Dihub">Protective effects of NAMPT or MAPK inhibitors and NaR on Wallerian degeneration of mammalian axons</a>
            <p class="desc">Personal contribution: performed Western Blotting for detection of NMNAT2 in the preliminary experiments.</p>
        </li>
    </ul>
</div>
