<mat-expansion-panel class="panel">
    <mat-expansion-panel-header class="header">
    <mat-panel-title>
        <h4 class="projectTitle">{{project.title}}</h4>
        <a href="{{project.link}}" *ngIf="project.link != 'none'">Source Code</a>
    </mat-panel-title>
    <mat-panel-description>
        <p class="projectSummary">{{project.summary}}</p>
    </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="body">
        <p class="desc">{{project.description}}</p>
        <div class="tags">
            <p class="tag" *ngFor="let tag of project.tags">{{tag}}</p>
        </div>
    </div>
</mat-expansion-panel>