<mat-expansion-panel class="panel">
    <mat-expansion-panel-header class="header">
    <mat-panel-title>
        <h3 class="projectTitle">{{project.title}}</h3>
        <a href="{{project.link}}" *ngIf="project.link != 'none'">Source Code</a>
    </mat-panel-title>
    <mat-panel-description>
        <h4 class="projectSummary">{{project.summary}}</h4>
    </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="body">
        <p class="desc">{{project.description}}</p>
        <div class="tags">
            <a *ngFor="let tag of project.tags">#{{tag}}</a>
        </div>
    </div>
    <!-- fixme: make selectable above -->
</mat-expansion-panel>