.card {
    justify-content: space-between;
    align-items: center;
    background-color: rgb(241, 241, 241);
}
.projectTitle {
    color: rgb(45, 71, 98);
}
.projectSummary {
    color: rgb(45, 71, 98);
}
.body{
    display:flex;
    flex-direction: row;
}
.tags{
    display:flex;
    flex-direction: column;
    margin: 30px;
    color:rgb(45, 71, 98)
}
.tag {
    display: flex;
    background-color: rgb(230,230,230);
    font-size: 1vw;
    height: 2.8vw;
    margin: 0.5vw;
    text-align: center;
    box-sizing:border-box;
    border-radius: 3vw;
    justify-content: center;
    align-items: center;
}
.desc {
    color: rgb(45, 71, 98);
    white-space: pre-wrap;
    padding: 2%;
    width: 70%
}
.panel {
    background-color: rgb(241, 241, 241);
    width: 100%;
    margin-bottom: 2vw;
    grid-row: 1 / -1;
    grid-column: 1;
}
.header {
    height: auto;
}
