.banner{
    display:block;
    background-color: rgb(241, 241, 241);
    padding-top: 3vw;
    padding-bottom: 3vw;
}
.divider{
    border-top-color: rgb(198, 214, 175);
    margin-top: 4vw;
    width:100%;
    
}
.pastProj {
    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: 3vw;
    /* padding-left: 5%; */
}
.projList{
    display:flex;
}