.banner{
    display:block;
    background-color: rgb(241, 241, 241);
    padding-top: 3vw;
    padding-bottom: 3vw;
}
.headline {
    margin-bottom: 5vw;
}
.divider{
    border-top-color: rgb(198, 214, 175);
    width:100%;
}
.pastProj {
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 5vw;
    /* padding-left: 5%; */
}
.projList{
    display:flex;
}
[id]::before {
    content: '';
    display: block;
    height: 4vw;
    margin-top: -4vw;
    visibility: hidden;
  }