<app-navigation (toAnchor)="goToDiv($event)"></app-navigation>
<app-headline class="headline" id="headline"></app-headline>
<mat-divider class="divider" id="skills" style="border-top-width: 5px"></mat-divider>
<app-skills-banner class="banner"></app-skills-banner>
<h2 class="pastProj" id="projects">Past Projects</h2>
<app-project-chips class="tagchips"></app-project-chips>
<app-projects-list class="projList"></app-projects-list>
<mat-divider class="divider" id="publications" style="border-top-width: 5px"></mat-divider>
<app-publication></app-publication>
<app-contact id="contact"></app-contact>