<div class="head">
    <div class="left">
        <img src="/assets/img/mypic.jpeg" class="mypic">
        <div class="download">
            <fa-icon [icon]="faDownload" style="color:rgb(198, 214, 175)"></fa-icon>
            <a href="assets/files/resume.pdf" class="link" download>Resume</a>
        </div>
        <div class="download">
            <fa-icon [icon]="faDownload" style="color:rgb(198, 214, 175)"></fa-icon>
            <a href="assets/files/Transcript.zip" class="link" download>Transcripts</a>
        </div>
        <div class="download">
            <fa-icon [icon]="faGithub" style="color:rgb(198, 214, 175)"></fa-icon>
            <a href="https://github.com/amoebacodes"  class="link">GitHub</a>
        </div>
        <!-- <div class="download">
            <fa-icon [icon]="faLinkedin" style="color:rgb(198, 214, 175)"></fa-icon>
            <a href="https://www.linkedin.com/in/yiqing-melody-wang/"  class="link">LinkedIn</a>
        </div> -->
    </div>
    <div class="greetings">
        <h1 class="hi">Hi! I'm Melody.</h1>
        <p class="summary">{{summary}}</p>
    </div>
</div>
<p class="aboutMe">{{aboutMe}}</p>
<p class="conclude">My legal name is Yiqing Wang, but I go by Melody. I am also a 
    <a href="https://melodyyiqingwan.wixsite.com/amoebanuggets" class="art">freelance artist</a> 
 on the side. Nice to meet you!</p>
