.mypic {
    width: clamp(100px, 10vw, 170px);
    height: clamp(100px, 10vw, 170px);
    object-fit: contain;
    border-radius: 50%;
    margin: 2vw;

}
.head{
    padding-top: 10vw;
    margin-left: 10vw;
    margin-right: auto;
    display: flex;
    gap:2vw;
    align-items:flex-start;
}
.left{
    display: flex;
    flex-direction: column;
}

.hi{
    margin-bottom:0px;
}

.greetings{
    margin-top: 3vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.summary {
    margin-left: 50px;
    margin-right:150px;
    color: mistyrose;
    font-family: 'Optima';
    font-size: clamp(20px, 2vw, 40px);
    text-align: left;
}
.link{
    font-size: 1.25vw;
}
.link:any-link {
    color: rgb(198, 214, 175);
}
.link:visited {
    color: mistyrose;
}
.link:hover{
    color: mistyrose;
}
.download{
    margin-left: 2vw;
    margin-bottom: 1vw;
}
.aboutMe {
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 2vw;
    margin-bottom: 4vw;
    color: mistyrose;
    white-space: pre-wrap;
    font-size: clamp(10px, 1.25vw, 17px);
    column-count: 2;
    column-gap: 4vw;
}