.nav {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: rgb(45,71,98);
    color: rgb(198, 214, 175);
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    align-items: center;
    height: 3.5vw;
    border-bottom: 3px solid rgb(198, 214, 175);
    z-index: 10;
  }
.vertdiv {
    background: rgb(198, 214, 175);
    height: 2.5vw;
    border-right-width: 2px;
}
.navlink{
    background-color: rgb(45,71,98);
    color: rgb(198, 214, 175);
    font-family: 'Optima';
    font-size: clamp(10px, 1.5vw, 20px);
    cursor: pointer;
    border: none;
    padding: 0.5vw 5vw;
    border-radius: 0.25vw;
}
.navlink:hover{
    color: mistyrose;
    background-color: rgb(62, 88, 117);
}