<div class="nav">
    <nav>
        <button class="navlink" (click)="clicked('headline')">About</button>
    </nav>
    <mat-divider class="vertdiv" vertical="true"></mat-divider>
    <nav>
        <a class="navlink" (click)="clicked('skills')">Skills</a>
    </nav>
    <mat-divider class="vertdiv" vertical="true"></mat-divider>
    <nav>
        <a class="navlink" (click)="clicked('projects')">Projects</a>
    </nav>
    <mat-divider class="vertdiv" vertical="true"></mat-divider>
    <nav>
        <a class="navlink" (click)="clicked('publications')">Publications</a>
    </nav>
    <mat-divider class="vertdiv" vertical="true"></mat-divider>
    <nav>
        <a class="navlink" (click)="clicked('contact')">Contact Me</a>
    </nav>
</div>
