html {
    background-color: rgb(45, 71, 98);
}
body {
    margin: 0;
}
h1 {
    color: mistyrose;
    font-size: clamp(40px, 5vw, 70px);
    font-family: 'Optima';
}
h2 {
    color: mistyrose;
    font-family: 'Optima';
    font-size: clamp(25px, 3vw, 40px);
}
h3 {
    font-family: 'Optima';
    font-size: clamp(20px, 2.5vw, 30px);
}
h4 {
    font-family: 'Optima';
    font-size: clamp(12px, 2vw, 20px);
}
p {
    font-family: 'Optima';
    font-size: clamp(8px, 1.8vw, 17px);
}
a {
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Optima';
}
a:-webkit-any-link {
    color: rgb(125, 147, 93);
}
a:visited {
    color: rgb(194, 117, 108);
}
a:focus{
    color: rgb(194, 117, 108);
}
* {
    scroll-behavior: smooth;
}